#PageNotFoundContent{
	height: auto;
	.row{
		.col:first-child{
			h1{				
				font-size: 60px;
			}

			img{
				width: 100%;
				max-width: 310px;
			}

			p{
				margin: 10px;
			}		
		}
	}
}

@media screen and (max-width: 640px){

	#PageNotFoundContent{
		height: auto;
		.row{
			.col:first-child{
				h1{				
					font-size: 45px;
				}		
			}
		}
	}
}

@media screen and (max-width: 480px){

}