.side-nav{

	top: 64px;
	.userView {
		overflow: hidden;
	    position: relative;
	    padding: 32px 32px 0;
	    margin-bottom: 8px;

	    a{
	    	height: auto;
    		padding: 0;
	    }

	    a:nth-child(3){
	    	height: 30px;
	    }

	    a:hover{
	    	background-color: transparent;
	    }

	    .circle{
	    	display: block;
	    	height: 64px;
    		width: 64px;
	    }

		.background {
			position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    z-index: -1;
		}

		.name{
			margin-top: 16px;
    		font-weight: 500;    	
		}

		.email{
			padding-bottom: 16px;
    		font-weight: 400;
		}
	}	

	a {
		color: rgba(0,0,0,0.87);
	    display: block;
	    font-size: 14px;
	    font-weight: 500;
	    height: 48px;
	    line-height: 48px;
	    padding: 0 32px;
	}

	li > a >i, .side-nav li > a >[class^="mdi-"], .side-nav li > a >[class*="mdi-"], .side-nav li > a >i.material-icons {
	    float: left;
	    line-height: 48px;
	    margin: 0 32px 0 0;
	    width: 24px;
	    color: rgba(0,0,0,0.54);
	}
	
}


@media only screen and (max-width : 992px) {
	header, main, footer {
	padding-left: 0;
	}
}