.perfilContainer{
	padding-left: 300px;

	.colMargin{		

		.profileImage{	
			width: 100%;
			max-width: 200px;
			max-height: 200px;	
			img{
				width: 100%;	
				min-width: 200px;
				min-height: 200px;			
			}			
		}

		.file-field{
			margin-bottom: 1rem;
			.btn{
				float: initial;
				display: block;
				width: 100%;
			    max-width: 460px;
			    margin: 0 auto;
			}
		}
	}

	.doubleInput{
		.input-field{
			padding: 0 !important;
		}
	}
	
}

@media only screen and (max-width: 992px){

	.perfilContainer{
		padding-left: 0px;

		.colMargin{
			margin: 0 auto;
			float: initial !important;
		}

		.profileImage{
			margin: 0 auto;
		}
	}	

	.iconDiv{
		margin-top: 0 !important;
	}

	.formContainer{
		float: initial !important;
		margin: 0 auto !important;
		width: 70% !important;

		.col.s7{
			float: initial !important;
			width: 100%;
			margin-top: 2rem;
		}
	}
}

@media only screen and (max-width: 490px){
	.formContainer{
		width: 90% !important;
	}
}

@media only screen and (max-width: 320px){

}