$medium-full-width-container: 90%;
$full-width-container: 100%;

@mixin centerOnResponsive{
	float: initial;
    margin: 0px auto;
   	padding-top: 10px;
}


.dashboardContainer{
	padding-left: 300px;	

	.quickAccessContainer{

		.quickAccessInternalContainer{

			margin-left: 50px;

			.quickAccess{
				padding: 15px;
			    margin: 7px;
			    width: 110px;
			}

			.quickAccess:hover{
				background-color: color('blue', 'darken-1') !important;
			}	
		}

		i {
			text-align: center;    			
    		display: block;
		}

		span{
			display: block;
			text-align: center;
			font-size: 13px;
		}
	}

	.taskContainer{

		.col{
			padding: 0;
		}

		.listTask{
			width: auto;
			min-width: 88%;
    		margin-right: 8.3%;
		}

		.hidden{
			display: none;
		}
	}	
}

.iconDiv{
	margin-top: 3px;
	margin-right: 5px;			
	i {
		border: 1px solid color('grey', 'darken-2');
	}			
}

.iconDivContainer{
	margin-left: 25px;	
}



.onlineContainer{
		
		width: 240px;		
    	position: fixed;
    	right: 0 !important;
    	bottom: 0;
    	
    	.onlineTitle{
    		margin: 0;  

    		i {
    			padding-top: 4px;
    		}  		
    	}

    	.onlineScroll{    		
    		height: 474px;

    		.onlineContent{
    			margin: 0;
    			border-top: 0px;
    			height: 100%;
    			background-color: white;
    			overflow-y: auto;

    			.onlineGroupTitle{    				
    				margin-right: 5px !important;    				
    			}

    			.dropdown-content{
    				top: 0px !important;
    				min-width: initial !important;
    				width: 100% !important;
    				position: relative !important;
    				box-shadow: none;
    			}

    			.dropdown-button{
    				color: color('grey', 'darken-2');
    			}
    		}
    	}

		.title{
	        display: inline-block;
	        vertical-align: middle;	        
	        font-size: 15px !important;
	        color: color('grey','darken-2');	        
    		padding: 11px 8px;
		}
	}

@media only screen and (max-width: 992px){

	.dashboardContainer{
		padding-left: 0px;

		.quickAccessContainer{
			@include centerOnResponsive;
		}

		.taskContainer{
			@include centerOnResponsive;
		}
	}

	.iconDiv{
		margin-top: 0 !important;
	}

	.onlineContainer{
		display: none;
	}
}

@media only screen and (max-width: 640px){

	.quickAccessContainer{
		width: $medium-full-width-container !important;
	}

	.taskContainer{
		width: $medium-full-width-container !important;	
	}
}

@media only screen and (max-width: 356px){

	.quickAccessContainer{
		width: $full-width-container !important;
	}

	.taskContainer{
		width: $full-width-container !important;

		.offset-s1{
			margin-left: 0px !important;
		}

		.listTask{
			width: auto;
			min-width: 100% !important;
			margin-right: 0px !important;
		}	
	}

}