$section-fullHeight: 100vh;
$section-middleHeight: 50vh;
$background-pattern: url(../img/intro.jpg);
$background-overlay: url(../img/overlay.png);

@mixin backgroundPattern{
	background-image: $background-overlay, $background-pattern;
	background-color: rgba(55,55,55,0.3);
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	background-repeat: repeat;
}

body{
	overflow-x: hidden;
}

section{
	display: block;	
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.preloader-center{
    width: 65px;
    position: absolute;
    left: 48%;
    top: 50%;
}

.fade{
	opacity: 1;
	text-align: center;
}

.arrow-down{
	cursor: pointer;
	color: $primary-color;
}

#modal2{

	overflow-x: hidden;
	overflow-y: hidden;
}

.modal-content{
	p{
		color: rgba(0, 0, 0, 0.71);
		font-size: 24px;
		margin: 0 auto;
	}
	.col{
		img{
			width: 90%;
			max-width: 600px;
		}
	}		
}

.modal-footer{
	p{
      	margin: 15px;
      	color: color('grey', 'darken-1');
    }
    height: auto;
}

#intro{
	height: $section-fullHeight;
	@include backgroundPattern;	

	h1{
		color: #FFF;
		text-align: center;
		display: none;
	}

	p{
		color: #FFF;
		text-align: center;
		font-size: 24px;
		display: none;
	}

	#getStarted{
		display: none;
	}

	#contactUs{
		display: none;
	}

	.row .col:nth-child(1){
		.btn-large{
			float: right;	
			background-color: color('yellow', 'lighten-1');
			color: color('blue', 'darken-4');		
		}

		.btn-large:hover{
			background-color: color('yellow', 'darken-1');
		}		
	}
}

#one{
	height: $section-fullHeight;

	.section{
		width: 100%;
	}

	i{
		color: $primary-color;
	}

	p{
		margin-top: 5px;		
		color: rgba(0,0,0,0.71);
		font-size: 20px;
		
	}

	.fade{
		p:nth-child(3){
			font-size: 17px;
		}
	}
}

#two{	
	background-image: $background-overlay;
	background-color: #f5f6f7;
	height: 80vh;

	.section{
		width: 100%;
	}

	.frontendGuyImage{
		position: absolute;
		left: -16%;

		img{
			position: relative;
			z-index: 0;
		}
	}

	.row{
		.col{		
			h1{
				color: #59646b;
				font-size: 28px;
			}

			p{
				color: #606177;
			}
		}	

		.personalText{
			position: relative;
			background: rgba(214,220,224,0.8);
		}		
	}

	.section{
		.container{
			margin: 60px auto;
		}
	}
}

#three {
  	background-color: white;
  	height: 40vh;

  	.container{ 
  		margin: 55px auto;
	}

	.icon-twitter, .icon-thumbs-up{
 		padding-right: 5px;
	}

	.icon-twitter, .icon-thumbs-up{
 		padding-right: 5px;
 	}
  	.container{ 
  		margin: 55px auto;
	}
	.icon-twitter, .icon-thumbs-up{
 		padding-right: 5px;
	}
}

#four {
	height: 48vh;
	background-color: #1976D2;
	.material-icons{
		color: white;
		float: left;
	}
	.footer-logo{
		height: 60px;
		width: 60px;
	}
	.row{
		height: 30vh;
	}
	#contact{
		padding-left: 50px;
		padding-top: 15px;
	}
	p{
		color: white;
	}
	.light{
		padding-top: 0px;
	}
	.footer1{
		height: 5vh;
	}
	.footer2{
		height: 35vh;
		padding-top: 20px;
	}

	.address, .telephone, .mail{
		height: 6vh;
	}
	#footer-message{
		padding-left: 50px;
		padding-top: 15px;
	}
	#links{
		padding-top: 40px;
	}
}

@media screen and (max-width: 940px){
	#goToTwo{ 
		display: none;
	}
	#goToThree{
		display: none;
	}
}

@media screen and (min-width: 641px){
	.hide{
		display: block !important;
	}
	.show{
		display: none;
	}
}

@media screen and (max-width: 640px){
	#one{
		height: auto;
		p{
			margin: 0;
			font-size: 16px;
		}
	}
	#three{
		a{
			span{
				font-size: 10px;
				letter-spacing: 0;
			}
			i{
				font-size: 1rem;
			}
		}
	}
	.section{
		padding: 0;
	}
	.hide{
		display: none;
	}
	.collapsible-header{
		padding: 25px 15px;
	}
	.show{
		display: block;

		ul{
			margin: 0;
		}
	}
	#contact{
		padding-left: 0 !important;
	}
	#footer-message{
		padding: 15px 0 0 15px !important;
	}
	#links{
		padding-top: 20px !important;
	}
	#modal1{
		img{
			display: none;
		}
		#modrv{
			display: block;

			#modrvcont{
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 480px){
	#footer-message{
		display: none;
	}
	#links{
		display: none;
	}
	.modal{
		width: 100%;
	}
	#intro{
		.row{
			#getStarted{
				width: 100%;
				text-align: center;
				a{
					float: none;
				}
			}
		}
	}
	#one{
		p{
			margin: 0px 20px;
		}
	}
	#two{
		#context{
			width: 100%;
		}
	}
	#three{
		height: auto;
		.row{
			div{
				display: inline-block;
				width: 100%;
				margin: 10px;
			}
		}
	}
	#contact{
		width: 100%;
		padding-top: 30px !important;
	}
	#contactUsButton{
		display: none;
	}
}

@media screen and (max-width: 320px){
	.container {
	  margin: 40px auto;
	}
	.modal-content {
		p {
			font-size: 15px;
		}
	}
	#one{
		p{
			font-size: 14px;
			margin: 0px 15px;
		}
	}
	#two{
		#context{
			padding: 0px 20px;
		}
	}
	.collapsible-header{
		padding: 10px 10px;
	}
	.row{
		.col{
			padding: 0;
		}
	}
}